@model List<Contact>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 bg-dark text-white">Contact Manager</h1>
</div>
<a asp-controller="Contact" asp-action="Add">Add Contact</a>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Phone number</th>
        <th>Email</th>
        <th>Category</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var contact in Model)
    {
        <tr>
            <td><a asp-controller="Contact" asp-action="Details" asp-route-id="@contact.ContactID">@contact.FirstName</a></td>
            <td><a asp-controller="Contact" asp-action="Details" asp-route-id="@contact.ContactID">@contact.LastName</a></td>
            <td>@contact.Phonenumber</td>
            <td>@contact.Email</td>
            <td>@contact.CategoryName.CategoryName</td>
        </tr>
    }
    </tbody>
</table>